# dependencies
node_modules/

# next.js
.next/
out/

# velite
.velite/

# nexus
.nexus/

# env
.env
.env*.local

# playwright
.playwright-mcp/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
